* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_slider {
    width: 60vw;
    height: 70vh;
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_slider {
    width: 95%;
    height: 90%;
    background-color:blueviolet;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
        'slider slider'
        'description control';
    row-gap: 1rem;
}

.slider {
    grid-area: slider;
    position:relative;
    overflow:hidden;
    width: 100%;
    height:100%;
}

.slides {
    display: flex;
    width: 400%;
    width: 100%;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

#slide4:checked ~ .slides {
    transform: translateX(-300%);
}

.control {
    grid-area: control;
    display: flex;
    justify-content: space-between;
}

.control-btn {
    width: 1rem;
    height: 1rem;
    background-color:#ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s;
}

#slide1:checked ~ .control label[for="slide1"],
#slide2:checked ~ .control label[for="slide2"],
#slide3:checked ~ .control label[for="slide3"],
#slide4:checked ~ .control label[for="slide4"] {
    background-color: #ff0000;
}